body{
    background-color: white;
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.introduction{
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    margin-top: 150px;
}
.introduction img{
    width: 200px;
    height: 200px;
}
.welcome{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}
.welcome img{
    text-align: center;
    max-width: fit-content;
}
.logo1 {
    display: inline-flex;
    align-items: center;
}
.logo1 h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.logo1 img{
    height: 600px;
    width: 600px;
}

.table-of-contents{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
}

.game-summary {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.system-requirements{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.design-rules{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

.user-interface{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.user-interface img{
    text-align: center;
    width: 1080px;
}

.control{
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.control ul{
    background-color: rgb(229, 65, 65);
}

.game-pause {
    display: flex;
    flex-direction:column ;
    align-items: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}
.game-pause img{
    width: 1080px;
}
.OS-requirements{
    display: flex;
    flex-direction:column ;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.play{
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.play img{
    width: 1080px;
    margin: 20px;
}


@media only screen and (max-width:768px) {

    *{
        font-family:sans-serif ;
    }

    body{
        background-color:white;
        width: 100%;
    }

    .introduction{
        display: block;
        position: relative;
        text-align: center;
        min-height: 100vh;
        align-items: center;
    }

    .introduction img{
        width: 100px;
        height: 100px;
    }

    .introduction h3{
        text-align: center;
        margin-top: 50%;
    }
    .welcome{
        position: relative;
        display: block;
        text-align: center;
        min-height: 100vh;
    }
    .welcome h3{
        text-align: start;
        margin-left:15px;
    }
    .welcome img{
        width: 340px;
    }
    .welcome .logo1{
        text-align: start;
        display: inline-flex;
        align-items: center;
    }
    .welcome .logo1 h1{
        font-size: 30px;
    }
    .welcome .logo1 img{
        width: 150px;
        height: 150px;
    }
    .welcome h1{
        align-items: center;
    }
    .table-of-contents{
        min-height: 100vh;
    }
    .table-of-contents a{
        text-decoration: none;
    }
    .game-summary{
        display: block;
        min-height: 100vh;
    }
    .system-requirements{

        display: inline-block;
        min-height: 100vh;
    }

    .design-rules{
        display: block;
        min-height: 100vh;
    }

    .design-rules li {
        margin-top: 20px;
    }

    .user-interface{
        display:block ;
        position: relative;
        min-height: 100vh;
        text-align: center;
        overflow: hidden;
    }
  
    .user-interface img{
        width: 340px;
    }
    .control{
        position: relative;
        display: block;
        min-height: 100vh;
    }
    .control ul{
        display: block;
    }
    .game-pause{
        display: block;
        position: relative;
        min-height: 100vh;
        text-align: center;
    }
    .game-pause h1, #yes{
        padding: 10px;
        background-color: red;
    }
    .game-pause img{
        width: 340px;
    }

    .OS-requirements{
        position: relative;
        min-height: 100vh;
        align-items: center;
        text-align: center;
    }
    .OS-requirements h2{
        text-align: start;
    }
    .play{
        display: block;
        min-height: 100vh;
        text-align: center;
    }
    .play img{
        width: 340px;
    }
    
}